<!DOCTYPE html>
<div class="main">
  <div class="container">
    <div class="login-block">
      <div class="images" [class.clicked]="studentsClick || professorsClick">
        <img
          class="students"
          [class.hovered]="studentsHover"
          [class.clicked]="studentsClick"
          [class.faded]="professorsClick"
          src="../../assets/Studs.jpeg"
          alt="Students"
        />
        <img
          class="professors"
          [class.hovered]="professorsHover"
          [class.clicked]="professorsClick"
          [class.faded]="studentsClick"
          src="../../assets/Profs.jpeg"
          alt="Professors"
        />
      </div>
      <div class="choice" [class.faded]="studentsClick || professorsClick">
        Vous êtes?
      </div>
      <div
        class="btn1"
        [class.faded]="studentsClick || professorsClick"
        (mouseenter)="toggleHover('professors')"
        (mouseleave)="toggleHover('professors')"
        (click)="toggleClick('professors')"
      >
        Professeur
      </div>
      <div
        class="btn2"
        [class.faded]="studentsClick || professorsClick"
        (mouseenter)="toggleHover('students')"
        (mouseleave)="toggleHover('students')"
        (click)="toggleClick('students')"
      >
        Étudiant
      </div>
      <button
        class="login-btn"
        [class.shown]="studentsClick || professorsClick"
      >
        <img class="outlook" src="../../assets/Outlook Logo.svg" />
        Se Connecter par Outlook
      </button>
      <button
        class="back-btn"
        [class.shown]="studentsClick"
        (click)="toggleBack('students')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="2 0 23 23"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.5 3.75A1.5 1.5 0 0 0 6 5.25v13.5a1.5 1.5 0 0 0 1.5 1.5h6a1.5 1.5 0 0 0 1.5-1.5V15a.75.75 0 0 1 1.5 0v3.75a3 3 0 0 1-3 3h-6a3 3 0 0 1-3-3V5.25a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3V9A.75.75 0 0 1 15 9V5.25a1.5 1.5 0 0 0-1.5-1.5h-6Zm5.03 4.72a.75.75 0 0 1 0 1.06l-1.72 1.72h10.94a.75.75 0 0 1 0 1.5H10.81l1.72 1.72a.75.75 0 1 1-1.06 1.06l-3-3a.75.75 0 0 1 0-1.06l3-3a.75.75 0 0 1 1.06 0Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <button
        class="back-btn"
        [class.shown]="professorsClick"
        (click)="toggleBack('professors')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="2 0 23 23"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.5 3.75A1.5 1.5 0 0 0 6 5.25v13.5a1.5 1.5 0 0 0 1.5 1.5h6a1.5 1.5 0 0 0 1.5-1.5V15a.75.75 0 0 1 1.5 0v3.75a3 3 0 0 1-3 3h-6a3 3 0 0 1-3-3V5.25a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3V9A.75.75 0 0 1 15 9V5.25a1.5 1.5 0 0 0-1.5-1.5h-6Zm5.03 4.72a.75.75 0 0 1 0 1.06l-1.72 1.72h10.94a.75.75 0 0 1 0 1.5H10.81l1.72 1.72a.75.75 0 1 1-1.06 1.06l-3-3a.75.75 0 0 1 0-1.06l3-3a.75.75 0 0 1 1.06 0Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <div class="msg-etu" [class.shown]="studentsClick">
        Bienvenue sur la plateforme de gestion de stage de notre école!<br /><br />Cette
        plateforme a été conçue pour vous, les étudiants, afin de faciliter le
        parcours de stage. Bonne chance! 😊
      </div>
      <div class="msg-prof" [class.shown]="professorsClick">
        Bienvenue sur la plateforme de gestion de stage de notre école!<br /><br />Cette
        plateforme a été conçue pour vous, les professeurs, afin de faciliter le
        parcours de stage. 😊
      </div>
    </div>
  </div>
</div>
