<!DOCTYPE html>
<div class="main">
  <div class="container">
    <div class="sidebar">
      <div class="logo">Gestion des Stages</div>
      <div class="sections">
        <button (click)="navigateToDashboard()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="27"
            viewBox="0 1 24 24"
            fill="none"
            style="margin-right: 30px; margin-left: 20px"
          >
            <path
              d="M2.25 12L11.2045 3.04549C11.6438 2.60615 12.3562 2.60615 12.7955 3.04549L21.75 12M4.5 9.75V19.875C4.5 20.4963 5.00368 21 5.625 21H9.75V16.125C9.75 15.5037 10.2537 15 10.875 15H13.125C13.7463 15 14.25 15.5037 14.25 16.125V21H18.375C18.9963 21 19.5 20.4963 19.5 19.875V9.75M8.25 21H16.5"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
          >Dashboard
        </button>
        <button (click)="navigateToProfile()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="27"
            viewBox="0 1 24 24"
            fill="none"
            style="margin-right: 30px; margin-left: 20px"
          >
            <path
              d="M17.9815 18.7248C16.6121 16.9175 14.4424 15.75 12 15.75C9.55761 15.75 7.38789 16.9175 6.01846 18.7248M17.9815 18.7248C19.8335 17.0763 21 14.6744 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 14.6744 4.1665 17.0763 6.01846 18.7248M17.9815 18.7248C16.3915 20.1401 14.2962 21 12 21C9.70383 21 7.60851 20.1401 6.01846 18.7248M15 9.75C15 11.4069 13.6569 12.75 12 12.75C10.3431 12.75 9 11.4069 9 9.75C9 8.09315 10.3431 6.75 12 6.75C13.6569 6.75 15 8.09315 15 9.75Z"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
          >Profil
        </button>
        <button (click)="navigateToCalendar()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="27"
            viewBox="0 1 24 24"
            fill="none"
            style="margin-right: 30px; margin-left: 20px"
          >
            <path
              d="M6.75 3V5.25M17.25 3V5.25M3 18.75V7.5C3 6.25736 4.00736 5.25 5.25 5.25H18.75C19.9926 5.25 21 6.25736 21 7.5V18.75M3 18.75C3 19.9926 4.00736 21 5.25 21H18.75C19.9926 21 21 19.9926 21 18.75M3 18.75V11.25C3 10.0074 4.00736 9 5.25 9H18.75C19.9926 9 21 10.0074 21 11.25V18.75"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            /></svg
          >Calendrier
        </button>
        <button (click)="navigateToStatus()" style="background-color: #d2d2d2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="27"
            viewBox="0 1 24 24"
            fill="none"
            style="margin-right: 30px; margin-left: 20px"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 2.25C6.61522 2.25 2.25 6.61522 2.25 12C2.25 17.3848 6.61522 21.75 12 21.75C17.3848 21.75 21.75 17.3848 21.75 12C21.75 6.61522 17.3848 2.25 12 2.25ZM12 10.875C11.3787 10.875 10.875 11.3787 10.875 12C10.875 12.6213 11.3787 13.125 12 13.125C12.6213 13.125 13.125 12.6213 13.125 12C13.125 11.3787 12.6213 10.875 12 10.875ZM15.375 12C15.375 11.3787 15.8787 10.875 16.5 10.875C17.1213 10.875 17.625 11.3787 17.625 12C17.625 12.6213 17.1213 13.125 16.5 13.125C15.8787 13.125 15.375 12.6213 15.375 12ZM7.5 10.875C6.87868 10.875 6.375 11.3787 6.375 12C6.375 12.6213 6.87868 13.125 7.5 13.125C8.12132 13.125 8.625 12.6213 8.625 12C8.625 11.3787 8.12132 10.875 7.5 10.875Z"
              fill="black"
            /></svg
          >Statut
        </button>
      </div>
      <div class="notifications">Pas de notifications.</div>
    </div>
    <div class="status">
      <div class="status-title">Statut des Stages</div>
      <div class="stages-forms">
        <div class="header">
          <div style="font-style: italic">Pré-Stage</div>
          <div style="font-style: italic">Stage</div>
          <div style="font-style: italic">Post-Stage</div>
        </div>
        <div class="progress-bar">
          <div class="line"></div>
          <div class="line a1"></div>
          <div class="line a2"></div>
          <div class="line a3"></div>
          <div class="circle1"></div>
          <div class="circle1 a"></div>
          <div class="circle2"></div>
          <div class="circle2 a"></div>
          <div class="circle3"></div>
          <div class="circle3 a"></div>
        </div>
        <div class="cards">
          <div class="card">
            <span>Étudiant : Ahmed</span>
            <div class="btns">
              <button class="download">Télecharger le fichier de stage</button>
              <button class="refuser">Refuser</button>
              <button class="valider">Valider</button>
            </div>
          </div>
          <div class="card">
            <span>Étudiant : Mohammed</span>
            <div class="btns">
              <button class="download">Télecharger le fichier de stage</button>
              <button class="refuser">Refuser</button>
              <button class="valider">Valider</button>
            </div>
          </div>
          <div class="card">
            <span>Étudiant : Hamza</span>
            <div class="btns">
              <button class="download">Télecharger le fichier de stage</button>
              <button class="refuser">Refuser</button>
              <button class="valider">Valider</button>
            </div>
          </div>
          <div class="card">
            <span>Étudiant : Imad</span>
            <div class="btns">
              <button class="download">Télecharger le fichier de stage</button>
              <button class="refuser">Refuser</button>
              <button class="valider">Valider</button>
            </div>
          </div>
          <div class="card">
            <span>Étudiant : Youness</span>
            <div class="btns">
              <button class="download">Télecharger le fichier de stage</button>
              <button class="refuser">Refuser</button>
              <button class="valider">Valider</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
