.main {
  font-family: var(--font-default);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #a8dff5 0%, #1446d0 100%);
}

.container {
  width: 88vw;
  height: 92vh;
  position: relative;
  display: grid;
  grid-template-columns: 18% 81%;
  grid-template-areas: "sidebar calendar";
  gap: 1%;
}

.sidebar {
  grid-area: sidebar;
  background: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
}

.calendar {
  grid-area: calendar;
  background: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  overflow: auto;
}

.calendar-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  display: flex;
  position: absolute;
  top: 6%;
  right: 5%;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}

.btn-left {
  width: 140px;
  height: 50px;
  color: white;
  background-color: #3b6fda;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b6fda;
}

.btn-left:hover {
  background-color: #2355d4;
  border-color: #2355d4;
  cursor: pointer;
}

.btn-left:active {
  background-color: #1446d0;
  border-color: #1446d0;
}

.btn-middle {
  width: 140px;
  height: 50px;
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b6fda;
}

.btn-middle:hover {
  background-color: #d2d2d2;
  cursor: pointer;
}

.btn-middle:active {
  background-color: #959595;
}

.btn-right {
  width: 140px;
  height: 50px;
  color: white;
  background-color: #3b6fda;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b6fda;
}

.btn-right:hover {
  background-color: #2355d4;
  border-color: #2355d4;
  cursor: pointer;
}

.btn-right:active {
  background-color: #1446d0;
  border-color: #1446d0;
}

.month-title {
  font-size: 50px;
  font-weight: 600;
  position: absolute;
  top: 6%;
  left: 20%;
}

.sections {
  width: 92%;
  height: 30%;
  display: grid;
  position: absolute;
  top: 24%;
  left: 4%;
  gap: 1%;
}

.sections button {
  width: 100%;
  height: 100%;
  font-family: var(--font-default);
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
  border: 0px;
  background: none;
}

.sections button:hover {
  background: #d2d2d2;
  cursor: pointer;
}

.sections button:active {
  background: #959595;
  border: 0px;
}

.logo {
  width: 92%;
  height: 20%;
  position: absolute;
  top: 2%;
  left: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  word-wrap: break-word;
}

.notifications {
  width: 92%;
  height: 39%;
  position: absolute;
  bottom: 4%;
  left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-default);
  font-size: 15px;
  font-weight: 500;
  color: #606060;
  border-radius: 10px;
  background: #d2d2d2;
}

.title {
  position: absolute;
  top: 3%;
  font-size: 60px;
  font-weight: 600;
}

.table {
  width: 90%;
  height: 69.1%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.calendar table {
  width: 100%;
  height: 100%;
  border: 2px solid #959595;
  border-collapse: collapse;
  font-family: var(--font-default);
}

.calendar th {
  padding: 15px 50px;
}

.calendar td {
  padding: 40px 50px;
}

.calendar table thead tr {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  background-color: #959595;
  color: white;
}

.calendar table thead {
  display: block;
}

.calendar table td {
  font-size: 18px;
  font-weight: 500;
}

.calendar tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.calendar table tr {
  border-bottom: 1px solid #d2d2d2;
}

.calendar table tr:nth-child(even) {
  background-color: #e2e2e2;
}

.calendar table tr:last-of-type {
  border-bottom: 2px solid #959595;
}

.calendar table tbody {
  height: 88.5%;
  display: block;
}
